nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
nav ul li {
  font-size: 20px;
  padding: 0 5px 0 5px;
}

#index-text {
  font-size: 48px;
  text-align: center;
}

.header {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 7px;
  
}
